*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    background-color: rgb(48, 47, 47);
}

body{
    width: 50vw; /* viewport width */
    height: 50vh; /* viewport height*/
    background-color: rgb(56, 30, 30);
    border-radius: 50%;
    display: flex;
    flex-direction: row; /*row coluna*/
    /* align-items | justify-content*/
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    gap: 15px;
}
body {
    background-color: black;
}

#um {
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 15px;
    margin: 20px;
    padding: 20px;
} 

.box img {
    width: 20%;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}